<div class="row">
  <div class="col s12 m6" *ngFor="let quote of quotes">
    <div class="card white">
      <div class="card-content black-text">
        <span class="card-title">Cotizaciones {{quote.customerLabel}}</span>
        <p>
          <a class="collection-item"><span class="new badge">{{quote.unreadCount}}</span></a>
        </p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn" (click)="goQuotes(quote)">Ver más</a>
      </div>
    </div>
  </div>
</div>
