/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.padding-sidenav {
  padding-left: 300px;
}

/*header, main, footer {
  padding-left: 300px;
}*/

/*@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}*/

@media only screen and (max-width : 992px) {
  .padding-sidenav {
    padding-left: 0;
  }
}

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.center-div {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
